@model IEnumerable<MusicHub.Models.Album>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Album</h2>
<p>
    Welcome to Album Page

</p>

<ul>
    @foreach (var a in Model)
    {
        <li>@Html.ActionLink(a.Title,"Index") </li>

    }
</ul>